.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url('starWarsBg.jpg');
  background-size: cover;
}

h1 :nth-child( 1 ) {
  display: flex;
  margin: 0 auto;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.table, td, th, tr {
  background-color: rgb(0, 0, 0, 0.1);
  border: 1px solid white;
  color: white;
  text-align: center;
}

.table td {
  padding: 5px;
}

.main-filter {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto 30px;
}

.main-filter input {
  border: 1px solid yellow;
  box-shadow: 1px 1px 1px 1px yellow;
}

.sub-filters {
  align-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  border: 2px solid yellow;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-size: small;
  font-weight: 600;
  justify-content: center;
  margin: 10px auto;
  max-height: 700px;
  max-width: 250px;
  padding: 15px;
}

.sub-filters input {
  height: 15px;
  width: 50px;
}

.sub-filters label {
  padding: 5px;
}

.sub-filters-button {
  align-self: center;
  background-color: yellow;
  border: 2px groove black;
  border-radius: 3px;
  height: 30px;
  width: 50px;
}

.btn-x {
  align-self: center;
  background-color: red;
  border-radius: 5px;
  color: black;
  font-size: 7px;
  font-weight: 900;
  margin: 0 auto;
  width: 20px;
}

.selected-filters {
  margin: 5px;
}

.remove-all {
  margin-top: 10px;
}
